.button{
    width: 20px;
    text-align: center;
}

.calc-view{
    left: 45%;
    top: 37%;
    width: 100px;
    position: fixed;
}

.view-style{
    width: 95px;
}

.calc-tabel{
    width: 95px;
    background-color: darkgray;
}