body{
    margin: 0;
    background-color: darkgray;
}

.glowna{
    text-align: center;
}

h1{
    text-align: center;
    background-color: aliceblue;
    margin: 0 0 2% 0;
    height: 5%;
    width: 100%;
}

#dod-input{
    width: 40%;
    border-radius: 5px;
    padding: 5px;
}

#Dodaj{
    border-radius: 5px;
    width: 30%;
    padding: 5px;
}

.zadania{
    position: relative;
    width: 80%;
    height: auto;
    margin: 5px auto;
    border: 1.5px solid black;
    border-radius: 15px;
}

.zrobione{
    text-decoration: line-through;
}

.usun-button{
    position: absolute;
    right: 2%;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 2px;
}